In [2]:
#EITI MITTAL
#181B089
import pandas as pd
import numpy as np

In [3]:
Q= "gold silver truck"
D1= "Shipment of gold damaged in a fire"
D2= "Delivery of silver arrived in a silver truck"
D3= "Shipment of gold arrived in a truck"

In [4]:
bow1 = D1.split(" ")
bow2 = D2.split(" ")
bow3 = D3.split(" ")
bowQ = Q.split(" ")
bow1

['Shipment', 'of', 'gold', 'damaged', 'in', 'a', 'fire']

In [5]:
wordSet = set(bow1).union(set(bow2),set(bow3),set(bowQ))
print(wordSet)

{'in', 'Shipment', 'arrived', 'a', 'silver', 'fire', 'damaged', 'of', 'truck', 'Delivery', 'gold'}

In [37]:
Dict1 = dict.fromkeys(wordSet, 0) 
Dict2 = dict.fromkeys(wordSet, 0)
Dict3 = dict.fromkeys(wordSet, 0) 
DictQ = dict.fromkeys(wordSet, 0)
print(Dict1)

{'in': 0, 'Shipment': 0, 'arrived': 0, 'a': 0, 'silver': 0, 'fire': 0, 'damaged': 0, 'of': 0, 'truck': 0, 'Delivery': 0, 'gold': 0}

In [38]:
for word in bow1:
    Dict1[word]+=1
    
for word in bow2:
    Dict2[word]+=1
    
for word in bow3:
    Dict3[word]+=1

for word in bowQ:
    DictQ[word]+=1

pd.DataFrame([Dict1, Dict2, Dict3,DictQ]).fillna(0)

   in  Shipment  arrived  a  silver  fire  damaged  of  truck  Delivery  gold
0   1         1        0  1       0     1        1   1      0         0     1
1   1         0        1  1       2     0        0   1      1         1     0
2   1         1        1  1       0     0        0   1      1         0     1
3   0         0        0  0       1     0        0   0      1         0     1

In [39]:
def computeTF(Dict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in Dict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [40]:
tfBow1 = computeTF(Dict1, bow1)
tfBow2 = computeTF(Dict2, bow2)
tfBow3 = computeTF(Dict3, bow3)
tfBowQ = computeTF(DictQ, bowQ)
print(tfBow1)

{'in': 0.14285714285714285, 'Shipment': 0.14285714285714285, 'arrived': 0.0, 'a': 0.14285714285714285, 'silver': 0.0, 'fire': 0.14285714285714285, 'damaged': 0.14285714285714285, 'of': 0.14285714285714285, 'truck': 0.0, 'Delivery': 0.0, 'gold': 0.14285714285714285}

In [41]:
def computeIDF(docList):
    import math
    #docList=list(docListx)
    #print (docList)
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1

    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [42]:
idfs = computeIDF([Dict1, Dict2, Dict3,DictQ])
print(idfs)

{'in': 0.12493873660829993, 'Shipment': 0.3010299956639812, 'arrived': 0.3010299956639812, 'a': 0.12493873660829993, 'silver': 0.3010299956639812, 'fire': 0.6020599913279624, 'damaged': 0.6020599913279624, 'of': 0.12493873660829993, 'truck': 0.12493873660829993, 'Delivery': 0.6020599913279624, 'gold': 0.12493873660829993}

In [43]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [68]:
tfidfBow1 = computeTFIDF(tfBow1, idfs)
tfidfBow2 = computeTFIDF(tfBow2, idfs)
tfidfBow3 = computeTFIDF(tfBow3, idfs)
tfidfBowQ = computeTFIDF(tfBowQ, idfs)
data=pd.DataFrame([tfidfBow1,tfidfBow2,tfidfBow3,tfidfBowQ])
data.index=['D1','D2','D3','Query']
data

,in,Shipment,arrived,a,silver,fire,damaged,of,truck,Delivery,gold
D1,0.017848,0.043004,0.000000,0.017848,0.000000,0.086009,0.086009,0.017848,0.000000,0.000000,0.017848
D2,0.015617,0.000000,0.037629,0.015617,0.075257,0.000000,0.000000,0.015617,0.015617,0.075257,0.000000
D3,0.017848,0.043004,0.043004,0.017848,0.000000,0.000000,0.000000,0.017848,0.017848,0.000000,0.017848
Query,0.000000,0.000000,0.000000,0.000000,0.100343,0.000000,0.000000,0.000000,0.041646,0.000000,0.041646

In [140]:

vectorQ=list(tfidfBowQ.values())
vector1=list(tfidfBow1.values())
vector2=list(tfidfBow2.values())
vector3=list(tfidfBow3.values())

In [148]:
import math
def cosine_similarity(vector1,vector2):
  dot=0
  # Calculate numerator of cosine similarity
  for i in range(len(vector1)):
        dot =dot+ (vector1[i] * vector2[i])
        
  # Normalize the first vector
  sum_vector1 = 0.0
  for i in range(len(vector1)):
        sum_vector1 += sum_vector1 + (vector1[i]*vector1[i])
  norm_vector1 = math.sqrt(sum_vector1)
  
  # Normalize the second vector
  sum_vector2 = 0.0
  for i in range(len(vector2)):
    sum_vector2 += sum_vector2 + (vector2[i]*vector2[i] )
  norm_vector2 = math.sqrt(sum_vector2)
  
  return (dot/(norm_vector1*norm_vector2))

In [157]:
print('D1:',cosine_similarity(vector1,vectorQ))

D1: 0.0007113777145020717

In [158]:
print('D2:',cosine_similarity(vector2,vectorQ))

D2: 0.010048458213544857

In [160]:
print('D3:',cosine_similarity(vector3,vectorQ))

D3: 0.0013744283558824182